@import "tailwindcss";
@theme {
    --color-primary: #FFDB58;
    --color-secondary: oklch(27.8% 0.033 256.848);
    --color-accent: #1F1F1F;
    --color-text-primary: #F5F5F5;
    --color-text-secondary: #E5E5E5;
    --color-background: #151515;
}
body {
    @apply bg-background;
    @apply text-neutral-100;
    @apply font-sans;
}